@using EPiServer.Shell
@inject LocalizationService Loc
@{
    Layout = "/Views/Shared/_PowertoolsLayout.cshtml";
    ViewData["Title"] = Loc.GetString("/editorpowertools/tools/contentstatistics/title");
    string ActionPath(string path) => Paths.ToResource(typeof(UmageAI.Optimizely.EditorPowerTools.Menu.EditorPowertoolsMenuProvider), path);
}

@section NavItems {
    <a href="@ActionPath("EditorPowertools/Overview")">Overview</a>
}

<div class="ept-page-header">
    <h1>@Loc.GetString("/editorpowertools/tools/contentstatistics/title") <button class="ept-help-btn" data-ept-help="contentstatistics" title='@Loc.GetString("/editorpowertools/ui/help/helpbtn")'>?</button></h1>
    <p>@Loc.GetString("/editorpowertools/tools/contentstatistics/description")</p>
</div>

<div id="content-statistics-root"></div>

@section Scripts {
    <script src="@(EPiServer.Shell.Paths.ToClientResource(typeof(UmageAI.Optimizely.EditorPowerTools.Menu.EditorPowertoolsMenuProvider), "ClientResources/js/content-statistics.js"))"></script>
}
