@using EPiServer.Shell
@inject LocalizationService Loc
@{
    Layout = "/Views/Shared/_PowertoolsLayout.cshtml";
    ViewData["Title"] = Loc.GetString("/editorpowertools/tools/activeeditors/title");
    string ActionPath(string path) => Paths.ToResource(typeof(UmageAI.Optimizely.EditorPowerTools.Menu.EditorPowertoolsMenuProvider), path);
}

@section NavItems {
    <a href="@ActionPath("EditorPowertools/Overview")">Overview</a>
}

<div class="ept-page-header">
    <h1>@Loc.GetString("/editorpowertools/tools/activeeditors/title") <button class="ept-help-btn" data-ept-help="activeeditors" title='@Loc.GetString("/editorpowertools/ui/help/helpbtn")'>?</button></h1>
    <p>@Loc.GetString("/editorpowertools/tools/activeeditors/description")</p>
</div>

<div id="ae-stats" class="ept-stats"></div>
<div id="ae-content" class="ae-layout">
    <div id="ae-editors-panel"></div>
    <div id="ae-chat-panel"></div>
</div>

@section Scripts {
    @* Temporarily hide AMD define so signalR exports to window.signalR instead of registering as a Dojo module *@
    <script>window.__eptDefine=window.define;window.define=undefined;</script>
    <script src="@(EPiServer.Shell.Paths.ToClientResource(typeof(UmageAI.Optimizely.EditorPowerTools.Menu.EditorPowertoolsMenuProvider), "ClientResources/js/signalr.min.js"))"></script>
    <script>window.define=window.__eptDefine;delete window.__eptDefine;</script>
    <script src="@(EPiServer.Shell.Paths.ToClientResource(typeof(UmageAI.Optimizely.EditorPowerTools.Menu.EditorPowertoolsMenuProvider), "ClientResources/js/active-editors-overview.js"))"></script>
}
